@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

// $primary-font: 'Titillium Web', sans-serif;

$orange: #ffad1f;
$claret-red: #9a031e;
$navyblue: #0a2e6d;
$light-gray: #eaedf1;
$light-orange:#F9E8C7;
//$light-blue:#cfd9e4;
$light-blue:#afc4c4;
