// Variable overrides

$gray-base:#06204d; 
$primary:#192b63;
$gray-800:#0a2e6d; 


//$primary:#324741;

$input-group-addon-bg: #eaedf1;
$input-group-addon-color: #0a2e6d;
$input-group-addon-border-color: #eaedf1;
$input-border-width: 1.8px;
